.task-details-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1cc51;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 100%;

    &__content {
        h2 {
            margin-top: 0;
            font-size: 20px;
            color: #333;
        }
        
        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        textarea {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #0a0a0a;
            border-radius: 4px;
            margin-top: 5px;
            font-size: 16px;
            outline: none;
            background-color: #a5c0c9;
        }

        textarea {
            height: 150px; // Adjust the height of the description box
            resize: vertical;
        }
    }

    &__actions {
        margin-top: 20px;
        text-align: right;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;
            outline: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #f0f0f0;
            }

            &:first-child {
                background-color: #4caf50;
                color: white;

                &:hover {
                    background-color: #45a049;
                }
            }

            &:last-child {
                background-color: #f44336;
                color: white;

                &:hover {
                    background-color: #d32f2f;
                }
            }
        }
    }
}
